.sidebar {
  width: 10vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-right: solid lightblue;
  border-width: 2px;

  button {
    width: 8vw;
    margin-top: 1rem;
  }
}
